- cache [ 'helpers/application_helper/default_resource_actions', current_admin_user, resource ] do
  %div.default_resource_actions
    - unless block.nil?
      = capture &block

    = show_button(resource, :small)

    - begin
      = edit_button(resource, :small)
    - rescue NoMethodError
      = edit_button(resource, :small, nil)

    - begin
      = clone_button(resource, :small)
    - rescue NoMethodError
    = destroy_button(resource, :small)
