.nested-fields
  = f.error_notification

  .row
    .col-xs-2.col-md-1
      = form_field_number(f, :sort)
    .col-xs-10.col-md-11
      = f.input :key
  = f.input :value, as: :text, input_html: { rows: 2 }

  = link_to_remove_association resource_attribute_name(:remove_unique_value_proposition), f, class: default_button_classes(['red-sunglo', 'btn-xs', 'remove-unique-value-propositions'])

