= portlet do
  = portlet_title_form_additional_information resource_attribute_name(:landing_page)
  = portlet_body_form_additional_information do

    = f.input :headline, as: :text, input_html: { rows: 2 }
    = f.input :subline, as: :text, input_html: { rows: 2 }
    = f.input :introduction, as: :text, input_html: { rows: 5 }

    -# UVP
    -#
    .portlet.light.margin-top-15
      .portlet-title
        .caption
          %span.caption-subject.bold.uppercase= resource_attribute_name :unique_value_propositions

          - unless resource.new_record?
            %span.caption-helper
              = resource.unique_value_propositions.count
        .tools
          %a.expand{ href: 'javascript:;' }
        .actions
          = link_to_add_association resource_attribute_name(:add_unique_value_proposition), f, :unique_value_propositions,
            class: [default_button_classes('btn-sm'), default_green, 'add-external-sign-in'],
            partial: 'helpers/global/markup/portlet_helper/portlet_form_additional_field_landing_page_uvp_files',
            :'data-association-insertion-node' => '#landing_page_unique_value_propositions',
            :'data-association-insertion-method' => 'append'
      .portlet-body.display-hide.form
        #landing_page_unique_value_propositions
          .note.note-info
            Alleineinstellungsmerkmale oder Nutzerversprechen (UVP) zeigen dem Kunden was Ihr Angebot besonders macht.
            Kurze Sätze und idealerweise zwischen 5 und 7 UPVs für die fünf Ws (Wer? Was? Wann? Wo? Warum?) können als
            Richtlinie genutzt werden.

          = f.simple_fields_for :unique_value_propositions do |uvp_form|
            = render 'helpers/global/markup/portlet_helper/portlet_form_additional_field_landing_page_uvp_files', f: uvp_form


    -# REASONS WHY
    -#
    .portlet.light.margin-top-15
      .portlet-title
        .caption
          %span.caption-subject.bold.uppercase= resource_attribute_name :why_reasons

          - unless resource.new_record?
            %span.caption-helper
              = resource.why_reasons.count
        .tools
          %a.expand{ href: 'javascript:;' }
        .actions
          = link_to_add_association resource_attribute_name(:add_why_reason), f, :why_reasons,
            class: [default_button_classes('btn-sm'), default_green, 'add-external-sign-in'],
            partial: 'helpers/global/markup/portlet_helper/portlet_form_additional_field_landing_page_why_reasons_files',
            :'data-association-insertion-node' => '#landing_page_why_reasons',
            :'data-association-insertion-method' => 'append'
      .portlet-body.display-hide.form
        #landing_page_why_reasons
          = f.simple_fields_for :why_reasons do |uvp_form|
            = render 'helpers/global/markup/portlet_helper/portlet_form_additional_field_landing_page_why_reasons_files', f: uvp_form

    -# CALL TO ACTION
    -#
    .portlet.light.margin-top-15
      .portlet-title
        .caption
          %span.caption-subject.bold.uppercase= resource_attribute_name :call_to_action

        .tools
          %a.expand{ href: 'javascript:;' }
      .portlet-body.display-hide.form
        = f.input :call_to_action_introduction, as: :text, input_html: { rows: 3 }
        .row
          .col-md-6
            = f.input :call_to_action_text
          .col-md-6
            = f.input :call_to_action_link
        = f.input :call_to_action_link_dynamic, as: :boolean

