.form-actions
  = portlet do
    = portlet_body do
      %a.btn-default{ class: [default_button_classes], href: form_back_to_overview_path }
        %i.fa.fa-angle-double-left
        = t('helpers.back_to_overview')

      - if !resource.new_record? && can?(:show, resource)
        %a.btn-default{ class: [ default_button_classes ], href: resource_path(resource.id) }
          = t('helpers.admin.form.actions.buttons.detail_button.label', model_name: translated_resource_class)

      = f.button :submit, class: [ default_button_classes, default_green, :save_resource ]
