- cache [ 'admin/show_dashboard', resource ] do
  .row.hidden-print
    .sq-show-relations
      .sq-show-relations-container
        - unless @dashboard_show.nil?
          - @dashboard_show.each do |element|
            .sq-show-relation{ data: { counter: element[0] } }
              %a{ href: ( element[2].nil? ? 'javascript:;' : element[2] ) }
                %span.sq-show-relation-title
                  = counter_up element[0]
                %span.sq-show-relation-text
                  = resource_attribute_name(element[1])

    .sq-actions
      .sq-actions-container

        = render 'admin/show_dashboard/new_button'
        = render 'admin/show_dashboard/edit_button'

        -# Ausgabe der Custom Actions für bspw die Druckausgabe
        -#

        - begin
          = render 'show_dashboard_custom', resource: resource
        - rescue ActionView::MissingTemplate
