- content_for :page_head do
  - cache [ 'admin/index/page_head', resource_class, collection.total_count ] do
    %h1
      = translated_resource_class(resource_class, collection.total_count)
      %small= page_entries_info collection

- content_for :page_subheading do
  .row.hidden-print.margin-bottom-15
    .col-md-8
      = render 'admin/index_actions', actions: @actions_index, resource_class: resource_class, current_admin_user: current_admin_user, current_principal: current_principal

    .col-md-4
      = render 'admin/index_filter', resource_class: resource_class

- cache index_collection_cache_key_with_pagination do
  - breadcrumb "admin_#{params[:controller].sub('admin/', '').gsub('/', '_')}".to_sym

  %section#sq_collection.admin_index
    - if collection.empty?
      = render 'admin/index_collection_empty', resource_class: resource_class, params: params
    - else
      = render partial: list_partial_type.to_s, locals: { collection: collection }
      = paginate collection
