- if resource.image?
  .col-md-3
    = portlet do
      = portlet_title do
        = portlet_title_caption resource_attribute_name(:image)
      = portlet_body do
        = sq_image_responsive_tag resource.image.thumb.url

        %hr

        = show.attribute :image_file_name
        = show.attribute :image_file_size do
          = number_to_human_size resource.image_file_size
        = show.attribute :image_extension
        = show.attribute :image_content_type
