- cache [ 'helpers/squibble_admin/admin/markup/navigation_helper/nav_item', resource, current_principal, current_admin_user ] do
  - if resource.depth == 0
    %li.dropdown.dropdown-fw.display-none{ resource.decorate.attributes }
      = link_to resource.decorate.nav_item_route, class: 'text-uppercase' do
        - if resource.icon_class.present?
          %i{class: resource.icon_class }
        = t(resource.translation_key)

      - unless resource.children.empty?
        %ul.dropdown-menu.dropdown-menu-fw.sq-dropdown-level-1
          = render partial: 'helpers/squibble_admin/admin/markup/navigation_helper/nav_item', collection: resource.children.unscoped.order_by(:number.asc).includes(:children, :subject_class), as: :resource, locals: { current_principal: current_principal }

  - elsif resource.depth == 1
    - if resource.children.empty?
      %li{ resource.decorate.attributes }
        = link_to t(resource.translation_key), resource.decorate.nav_item_route
    - else
      %li.dropdown.more-dropdown-sub.display-none{ resource.decorate.attributes }
        %a{ href: 'javascript:;' }
          - if resource.icon_class.present?
            %i{class: resource.icon_class }
          = t(resource.translation_key)
        %ul.dropdown-menu.sq-dropdown-level-2
          = render partial: 'helpers/squibble_admin/admin/markup/navigation_helper/nav_item', collection: resource.children.unscoped.order_by(:number.asc).includes(:children, :subject_class), as: :resource, locals: { current_principal: current_principal }

  - elsif resource.depth == 2
    %li.dropdown-menu-item.display-none{ resource.decorate.attributes }
      = link_to t(resource.translation_key), resource.decorate.nav_item_route
