- cache [ 'helpers/squibble_admin/markup/button_helper/clone_button', size, path, enabled ] do
  - case size
  - when :small
    = link_to ( enabled ? path : 'javascript:;' ), class: 'btn green btn-xs', disabled: !enabled do
      %i.fa.fa-clone
  - when :default
    = link_to ( enabled ? path : 'javascript:;' ), class: 'btn green', disabled: !enabled do
      %i.fa.fa-clone
      %span= t 'helpers.application_helper.clone_button.default_text'
  - when :large
    = link_to ( enabled ? path : 'javascript:;' ), class: 'btn green btn-lg', disabled: !enabled do
      %i.fa.fa-clone
      %span= t 'helpers.application_helper.clone_button.large_text'
