- cache [ 'helpers/squibble_admin/markup/button_helper/show_button', size, path, enabled ] do
  - case size
  - when :small
    = link_to ( enabled ? path : 'javascript:;' ), class: 'btn btn-default btn-xs', disabled: !enabled do
      %i.fa.fa-info-circle
  - when :default
    = link_to ( enabled ? path : 'javascript:;' ), class: 'btn btn-default', disabled: !enabled do
      %i.fa.fa-info-circle
      %span= t 'helpers.application_helper.show_button.default_text'
  - when :large
    = link_to ( enabled ? path : 'javascript:;' ), class: 'btn btn-default btn-lg', disabled: !enabled do
      %i.fa.fa-info-circle
      %span= t 'helpers.application_helper.show_button.large_text'
