- cache ['helpers/squibble_admin/admin/markup/show_helper/file_show', resource, preview_path ] do
  = portlet do
    = portlet_title do
      = portlet_title_caption resource_attribute_name(:file, resource.class)
    = portlet_body do

      %div{ data: { path: resource.file.path, url: resource.file.url } }
        - if resource.file_content_type.present? && resource.file_content_type.starts_with?('image')
          = sq_image_responsive_tag preview_path
          %hr

        = show.attribute :file_file_name
        = show.attribute :file_file_size do
          = number_to_human_size resource.file_file_size
        = show.attribute :file_content_type
        = show.attribute :file_extension
