- cache ['helpers/squibble_admin/admin/markup/show_helper/thumbnail_show', resource, preview_path ] do
  = portlet do
    = portlet_title do
      = portlet_title_caption resource_attribute_name(:thumbnail, resource.class)
    = portlet_body do

      %div{ data: { path: resource.thumbnail.path, url: resource.thumbnail.url } }
        = sq_image_responsive_tag preview_path
        %hr

        = show.attribute :thumbnail_file_name
        = show.attribute :thumbnail_file_size do
          = number_to_human_size resource.thumbnail_file_size
        = show.attribute :thumbnail_extension
        = show.attribute :thumbnail_content_type
