- cache [ 'layouts/shared/admin/header', current_admin_user, current_principal ] do
  %header.page-header
    %nav.navbar.mega-menu{ role: :navigation }
      .container-fluid
        .clearfix.navbar-fixed-top

          %button.navbar-toggle{ type: :button, data: { toggle: :collapse, target: :'.navbar-responsive-collapse'} }
            %span.sr-only Toggle navigation
            %span.toggle-icon
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

          %a#index.class-logo{ href: main_app.admin_dashboard_overview_path(principal_slug: current_principal.to_param) }
            %img{ src: asset_path('logo-black.png'), alt: 'Squibble' }

          .topbar-actions
            = render partial: 'layouts/shared/admin/custom_nav_content'

            - cache [ 'layouts/admin/nav/current_admin_user', current_admin_user ] do
              .btn-group-img.btn-group
                %button.btn.btn-sm.dropdown-toggle{ type: :button, data: { toggle: :dropdown, hower: :dropdown, close: { others: :true } } }
                  = gravatar_tag current_admin_user.email, size: 35, secure: true
                  %span= current_admin_user.name
                %ul.dropdown-menu-v2{ role: :menu }
                  = render partial: 'layouts/shared/admin/custom_dropdown_items'
                  %li
                    %a{ href: main_app.destroy_admin_user_session_path }
                      %i.fa.fa-sign-out
                      Logout

        = navigation
