= portlet do
  - if options[:collapse] == true
    = portlet_title_form_additional_information resource_attribute_name(attribute)
    = portlet_body_form_additional_information do
      = f.input :"#{attribute}_cache", as: :hidden

      .row
        .col-md-6
          = f.input attribute, hint: resource_attribute_name(:"#{attribute}_allowed_format")
        .col-md-6
          = f.input :"remove_#{attribute}", as: :boolean
      = f.input :"#{attribute}_file_name", input_html: { disabled: true }

  - else
    = portlet_title do
      = portlet_title_caption resource_attribute_name(attribute)

    = portlet_body_form do
      = f.input :"#{attribute}_cache", as: :hidden

      .row
        .col-md-6
          = f.input attribute, hint: resource_attribute_name(:"#{attribute}_allowed_format")
        .col-md-6
          = f.input :"remove_#{attribute}", as: :boolean
      = f.input :"#{attribute}_file_name", input_html: { disabled: true }
