= portlet do
  = portlet_title_form_additional_information resource_attribute_name(:meta_information)
  = portlet_body_form_additional_information do
    = form_field_meta_keywords(f)
    = form_field_meta_description(f)
