%h3.list-heading= t('squibble_admin.quick_sidebar.current_admin_user.content.title', current_admin_user: current_admin_user.name)

%ul.media-list.list-items
  = render 'admin/acl/admin_users/media_list_item', resource: current_admin_user

%ul.button-list
  - begin
    = render "layouts/shared/admin/quick_sidebar/current_admin_user_custom_content_before"
  - rescue ActionView::MissingTemplate

  %li
    = link_to eval(SquibbleAdminConfig.app.sign_out_path) do
      %i.fa.fa-sign-out
      = t('.sign_out')

  - begin
    = render "layouts/shared/admin/quick_sidebar/current_admin_user_custom_content_after"
  - rescue ActionView::MissingTemplate
