!!! 5
%html{ lang: I18n.locale}
  %head
    = display_meta_tags
    = csrf_meta_tags

    = render 'layouts/shared/admin/meta'

    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Oswald:400,300,700', media: :all, :'data-turbolinks-track' => :reload
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', media: :all, :'data-turbolinks-track' => :reload

    = stylesheet_link_tag :'squibble_basics/application', media: :all, :'data-turbolinks-track' => :reload, debug: false
    = stylesheet_link_tag :admin, media: :all, :'data-turbolinks-track' => :reload, debug: false

    = javascript_include_tag "//maps.google.com/maps/api/js?key=#{Settings.google.api.key}"
    = javascript_include_tag :'squibble_basics/application', :'data-turbolinks-track' => :reload, debug: false
    = javascript_include_tag :admin, :'data-turbolinks-track' => :reload

  %body.admin.page-header-fixed.page-sidebar-closed-hide-logo{ class: "rails-env-#{Rails.env}"}

    .wrapper
      = render 'layouts/shared/admin/header'

      .container-fluid.sq-content
        .page-content

          .breadcrumbs
            .heading.row.margin-bottom-10
              .col-md-9
                = yield :page_head
              .col-md-3{ class: hidden_mobile }
                = breadcrumbs style: :bootstrap, container_tag: :ul, class: 'breadcrumb'

          .page-subheading
            = yield :page_subheading

          = flash_messages

          = yield

        = render 'layouts/shared/admin/footer'

    - if SquibbleAdminConfig.quick_sidebar.enabled
      = render 'layouts/shared/admin/quick_sidebar'

    = render 'layouts/shared/google_tag_manager'
